* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
}

.title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #4a90e2, #8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-container {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    background: rgba(255, 255, 255, 0.92);
    padding: 30px;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.6s ease ;
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3 ease;
}

.form-card input.focus {
    border-color: #4a90e2;
    outline: none;
}

.form-card button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #4a90e2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3 ease;
}

.form-card button:hover {
    background: #352abd;
}

.message {
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
}

.popup{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 16px 22px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.4s ease;
    z-index: 1000;
}

.popup.success {
    background: linear-gradient( 135deg, #2ecc71, #27ae60);
}

.popup.error {
    background: linear-gradient(135deg, #e74c3c, #c0392b);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

